body{
    display: flex;
    height: 1000px;
    color: #666462;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    position: relative;
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 35px 55px rgb(0,0,0,0.1);
}
.margin{
    height: 100%;
    width: 30%;
    background-color: #d1958f;

}
.perfil{
    height: 35%;
    width: 100%;
}
.photo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.name{
    display: flex;
    height: 100%;
    width: 55%;
    background-color: rgb(227, 210, 210);
    flex-direction: column;
    margin-left: 5%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(255,255,255,0.2);
    
}
.contact{
    margin-left: 3%;
}

